.search-items {
    width: 100%;
    height:calc(100vh - 20rem);
    overflow: scroll;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    grid-template-rows: 15rem;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
  }
  