@import './mixins';

.search {
    width:43%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--background-color);
    @include respond(tab-land) {
        width: 38%;
    }
    @include respond(tab-port) {
        width: 100%;
    }
  }
  