/*
0- 600px; Phone
600 - 900px; Table portrait
900 - 1200px; Tablet landscape
[1200 - 2000} is where our normal styles apply
2000px + : big desktop
*/
:root {
  --color-black: black;
  --color-white: white;
  --color-dark: #151515;
  --color-light: #f9f3f3;
  --color-primary: #ca8a8b;
  --color-primary-light: #f5cebe;
  --color-primary-lighter: #f4ece9;
  --color-red: #fb3640;
  --color-blue: #2978b5;
  --font-serif-roboto: "Roboto Mono", monospace;
  --font-sans-serif-montserrat: "Montserrat Alternates", sans-serif;
  --color-gray-dark: #687980;
  /* Light template */
  --background-color: hsl(0, 0%, 100%);
  --background-color-inverse: hsl(0, 0%, 0%);
  --primary-text-color: #151515;
  --primary-text-color-inverse: #f9f3f3;
  --toggler-focus: hsl(240, 75%, 50%);
  --toggler-foreground: hsl(60, 75%, 75%);
  --toggler-background: hsl(60, 75%, 45%);
  --color-grayscale4: hsl(0, 0%, 90%);
}

/* Dark" template */
[data-theme=dark] {
  --background-color: hsl(0, 0%, 0%);
  --background-color-inverse: hsl(0, 0%, 100%);
  --primary-text-color: #f9f3f3;
  --primary-text-color-inverse: #151515;
  --toggler-focus: hsl(60, 75%, 50%);
  --toggler-foreground: hsl(240, 75%, 75%);
  --toggler-background: hsl(240, 75%, 45%);
  --color-grayscale4: hsl(0, 0%, 15%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 46.875%;
  }
}

body {
  box-sizing: border-box;
  font-weight: 400;
  font-family: var(--font-serif-roboto);
  font-size: 1.6rem;
}

#app {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  height: 100vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--background-color-inverse);
}

/* --------------------------------------
   Base card styles
-------------------------------------- */
.card {
  cursor: pointer;
  /* --------------------------------------
     Variants (portrait, half-landscape)
  -------------------------------------- */
  /* --------------------------------------
     Portrait-content (expanded) variant
  -------------------------------------- */
  /* --------------------------------------
     Landscape-content (expanded) variant
  -------------------------------------- */
}
.card .card__tags {
  list-style: none;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card--landscape {
  grid-column: span 2;
  grid-row: span 1;
}
.card--half-landscape {
  grid-column: span 1;
  grid-row: span 1;
}
.card--portrait {
  grid-column: span 1;
  grid-row: span 2;
}
.card--landscape .card--search, .card--half-landscape .card--search {
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 1rem;
}
.card--landscape .card--search .card__info, .card--half-landscape .card--search .card__info {
  display: grid;
  align-items: start;
}
.card--landscape .card--search .card__image img, .card--half-landscape .card--search .card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card--portrait .card--search {
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 1rem;
}
.card--portrait .card--search .card__info {
  display: grid;
  align-items: start;
}
.card--portrait .card--search .card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 75em) {
  .card--landscape .card--search, .card--half-landscape .card--search, .card--portrait .card--search {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .card--landscape .card--search, .card--half-landscape .card--search, .card--portrait .card--search {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .card--landscape .card--search, .card--half-landscape .card--search, .card--portrait .card--search {
    font-size: 1.4rem;
  }
}
.card--portrait-content.selected {
  max-height: 110rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 3rem;
}
.card--portrait-content.selected .card__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card--portrait-content.selected .card__info-title {
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
}
.card--portrait-content.selected .card__info-title::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 90%;
  height: 1.6px;
  background-color: var(--background-color-inverse);
}
.card--portrait-content.selected .card__info-id {
  font-weight: 600;
  font-size: 1.2rem;
}
.card--portrait-content.selected .card__inner-container {
  flex: 1;
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 75em) {
  .card--portrait-content.selected .card__inner-container {
    gap: 1rem;
  }
}
.card--portrait-content.selected .card__inner-container--left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card--portrait-content.selected .card__inner-container--right {
  flex: 1;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 1rem;
}
.card--portrait-content.selected .card__content {
  flex: 1;
  display: flex;
  gap: 3rem;
}
.card--portrait-content.selected .card__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card--portrait-content.selected .card__info-heading {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 2rem;
}
.card--portrait-content.selected .card__info-heading .card__artist-name {
  font-size: 2rem;
}
.card--portrait-content.selected .card__info-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5rem;
}
.card--portrait-content.selected .card__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
.card--portrait-content.selected .card__inner-heading {
  display: flex;
  justify-content: space-between;
}
.card--portrait-content.selected .card__media {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
}
.card--portrait-content.selected .card__media-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card--portrait-content.selected .card__media-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.card--landscape-content.selected {
  max-height: 110rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 3rem;
}
.card--landscape-content.selected .card__heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.card--landscape-content.selected .card__info-title {
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 1.6rem;
  position: relative;
}
.card--landscape-content.selected .card__info-title::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 90%;
  height: 2px;
  background-color: var(--background-color-inverse);
}
.card--landscape-content.selected .card__info-id {
  font-weight: 500;
  font-size: 1.2rem;
}
.card--landscape-content.selected .card__inner-container {
  padding: 0 5rem;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  gap: 1rem;
}
@media only screen and (max-width: 75em) {
  .card--landscape-content.selected .card__inner-container {
    padding: 0 1rem;
  }
}
.card--landscape-content.selected .card__inner-container--left {
  order: 2;
}
.card--landscape-content.selected .card__inner-container--right {
  order: 1;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 1rem;
}
.card--landscape-content.selected .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card--landscape-content.selected .card__info {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card--landscape-content.selected .card__info-heading {
  width: 100%;
  display: flex;
  gap: 5rem;
  align-items: center;
}
.card--landscape-content.selected .card__info-heading .card__artist-name {
  font-size: 2rem;
}
.card--landscape-content.selected .card__info-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5rem;
}
.card--landscape-content.selected .card__tags {
  gap: 2rem;
}
.card--landscape-content.selected .card__inner-heading {
  display: flex;
  justify-content: space-between;
}
.card--landscape-content.selected .card__media {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  gap: 2rem;
}
.card--landscape-content.selected .card__media-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card--landscape-content.selected .card__media-info {
  text-align: center;
  padding: 0 10rem;
}

/* --------------------------------------
   Separate 'card-anim' block for animation states
-------------------------------------- */
.card-anim-a, .card-anim-b, .card-anim-c, .card-anim-d, .card-anim-e {
  opacity: 0;
}

.theme-toggler {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
.theme-toggler * {
  cursor: pointer;
}
.theme-toggler__checkbox-label {
  display: flex;
}
.theme-toggler__icon {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  margin: 0 1rem;
}
.theme-toggler__icon::before {
  display: inline;
  content: "";
  height: 1.6rem;
  width: 3.6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--background-color-inverse);
  transition: background-color 200ms ease-in-out;
}
.theme-toggler__icon::after {
  display: inline;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: var(--background-color-inverse);
  position: absolute;
  left: 0.4rem;
  transform: translateX(100%);
  transition: background-color 200ms ease-in-out, transform 1000ms linear;
}
.theme-toggler__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.theme-toggler__checkbox:checked + span::after {
  transform: translateX(0px);
}
.theme-toggler__checkbox:focus ~ span, .theme-toggler__checkbox:active ~ span {
  border-radius: 0.8rem;
}
.theme-toggler__checkbox:checked:focus ~ span, .theme-toggler__checkbox:checked:active ~ span {
  border-radius: 0.8rem;
}

.wall-toggle {
  color: var(--background-color-inverse);
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .wall-toggle {
    display: block;
  }
}

.left-wall {
  height: 100vh;
  padding-left: 1rem;
  padding-top: 1rem;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  overflow: hidden;
}
@media only screen and (max-width: 75em) {
  .left-wall {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 56.25em) {
  .left-wall {
    flex-basis: 100%;
    padding-top: 5rem;
  }
}

.right-wall {
  z-index: 1;
  flex: 1;
  overflow: hidden;
  box-shadow: -1px -5px 5px hsla(var(--background-color-inverse), 0.5);
  padding: 5rem 5rem 2rem;
  height: 100vh;
}
@media only screen and (max-width: 75em) {
  .right-wall {
    padding: 10rem 1rem 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .right-wall {
    padding-left: 0;
    padding-right: 0;
  }
}

.search-bar {
  position: relative;
  background-color: var(--background-color);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -3px 0 5px 0 rgba(var(--background-color-inverse), 0.5);
}
.search-bar__input-box {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 2px solid var(--background-color-inverse);
}
.search-bar__input-text {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--primary-text-color);
  background: var(--background-color);
  padding: 1rem 5px;
}
.search-bar__input-text::-moz-placeholder {
  font-family: var(--font-serif-roboto);
  color: color-mix(in srgb, var(--primary-text-color) 50%, white);
}
.search-bar__input-text::placeholder {
  font-family: var(--font-serif-roboto);
  color: color-mix(in srgb, var(--primary-text-color) 50%, white);
}
.search-bar__input::-moz-placeholder {
  color: var(--primary-text-color);
  font-family: var(--font-serif-roboto);
}
.search-bar__input::placeholder {
  color: var(--primary-text-color);
  font-family: var(--font-serif-roboto);
}
.search-bar__input-button {
  background-color: var(--primary-text-color);
  border: none;
  color: var(--color-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-bar__button:hover {
  background-color: var(--color-gray-dark);
}
.search-bar__categories-box {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.search-bar__categories-icon {
  background-color: var(--background-color-inverse);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.search-bar__categories-text {
  font-size: 16px;
  color: var(--primary-text-color);
  padding: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-serif-roboto);
}
.search-bar__categories-arrow {
  display: block;
  margin: auto;
  cursor: pointer;
}

/* addition for the dropdown menu that is togle inside the SearchBar */
.dropdown-menu__container {
  position: absolute;
  top: 17rem;
  left: 20rem;
  max-height: 20rem;
  background-color: var(--color-primary);
  border: 1px solid var(--primary-text-color);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.dropdown-menu__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  color: var(--primary-text-color);
  font-family: var(--font-serif-roboto);
  cursor: pointer;
}
.dropdown-menu__checkbox {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--primary-text-color);
  cursor: pointer;
}
.dropdown-menu__item:hover {
  color: var(--color-primary-lighter);
  font-weight: bold;
}

.fa-solid.fa-magnifying-glass,
.fa-solid.fa-shapes {
  color: var(--background-color);
}

.search-items {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30rem;
  grid-auto-flow: row dense;
  grid-gap: 1rem;
  overflow-y: scroll;
}
@media only screen and (max-width: 75em) {
  .search-items {
    grid-auto-rows: 20rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .search-items {
    grid-auto-rows: 20vh;
  }
}
@media only screen and (max-width: 37.5em) {
  .search-items {
    grid-auto-rows: 25rem;
  }
}

.left-wall .card {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */