/* === card ======================================== */
.card {
  * {
    overflow: clip;
  }
  height: 15rem;
  grid-row-start: span 1;
  grid-column-start: span 2;
  display: flex;
  gap: 2rem;
  justify-content: start;
  align-items: center;
  text-wrap: nowrap;
  background-color: var(--color-grayscale4);
  box-shadow: 0px 0px 20px 0px gray;
  /* === card-info =================================== */
  .card-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-shrink: 1;
    text-align: center;

    .card-info__title {
      font-size: larger;
      font-weight: 600;
    }

    .card-info__artist {
      margin: 0.5rem 0 1rem;
    }

    .card-info__object-name,
    .card-info__department {
      font-style: italic;
    }
  }
  /* === card-image ================================== */
  .card-image {
    display: flex;
    flex: 1;
    border-radius: 4px;
    width: 100%;
    height: 15rem;
    img {
      padding: 1.5rem;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 2.5rem;
    }
  }
}

.card.half-landscape {
  grid-row-start: span 1;
  grid-column-start: span 1;
}

/* === PORTRAIT ================================== */
.card.portrait {
  grid-row-start: span 3;
  grid-column-start: span 1;
  height: 49rem;
  flex-direction: column;
  .card-info {
    width: 100%;
  }
  .card-image {
    /* height: 34rem; */
    img {
      object-fit: cover;
    }
  }
}
