:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #151515;
  --color-light: #f9f3f3;
  --color-primary: #ca8a8b;
  --color-primary-light: #f5cebe;
  --color-primary-lighter: #f4ece9;
  --color-red: #fb3640;
  --color-blue: #2978b5;
  --font-serif-roboto: 'Roboto Mono', monospace;
  --font-sans-serif-montserrat: 'Montserrat Alternates', sans-serif;
  --color-gray-dark: #687980;
  --background-color: hsl(60, 3%, 85%);
  --text-color: #151515;
}

[data-theme="dark"] {
  --background-color: hsl(240, 3%, 10%);
  --text-color: #f9f3f3;
}

[data-theme='light'] {
  --background-color: hsl(60, 15%, 90%);
  --text-color: #151515;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* So 1 rem = 10px */
}

body {
  box-sizing: border-box;
  font-weight: 400;
  font-family: var(--font-sans-serif-montserrat);
  font-size: 1.6rem;
}

html,
body,
#root {
  /* Making sure main container takes full screen height */
  height: 100%;
  display: flex;
  flex-direction: column;
}
#root > .app {
  flex: 1;
}

#app {
  background-color: var(--background-color);
  color: var(--text-color);
}
