:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #151515;
  --color-light: #f9f3f3;
  --color-primary: #ca8a8b;
  --color-primary-light: #f5cebe;
  --color-primary-lighter: #f4ece9;
  --color-red: #fb3640;
  --color-blue: #2978b5;
  --font-serif-roboto: 'Roboto Mono', monospace;
  --font-sans-serif-montserrat: 'Montserrat Alternates', sans-serif;
  --color-gray-dark: #687980;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* So 1 rem = 10px */
}
body {
  box-sizing: border-box;
  font-weight: 400;
  color: var(--color-dark);
  font-family: var(--font-sans-serif-montserrat);
  font-size: 1.6rem;
}
