.item-container {
    display: flex;
    width: 40%;
    margin: 2rem;
    gap: 2rem;
    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        /* align-items: ; */
        text-align: center;
        flex: 3;
        .item-info__title {
            display: flex;
            font-size: larger;
            font-weight: 600;
        }
        .item-info__artist {
            display: flex;
            margin: .25rem 0 1rem 0;
            font-style: italic;
        }
        .item-info__extra-info {
            display: flex;
            gap: 1.5rem;
            font-style: italic;
            color: var(--color-gray-dark);
        }
    }
    .item-image {
        display: flex;
        flex: 2;
        figure {
            width:100%;
            border-radius: 10px;
            overflow: clip;
            box-shadow: 0 0 12px 3px gray;
            transition: all 0.15s linear;
            img {
                width: 100%;
                object-fit: cover;
            }
       }
       figure:hover {
        height: 100%;
       }
    }
}