.portrait-card {
  width: 34.3rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0 0 0 1px var(--color-black);
}

.portrait-card__image {
  flex: 1;
}

.portrait-card__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portrait-card__content {
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.portrait-card__artist-name {
}
.portrait-card__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.portrait-card__object-name {
}
.portrait-card__tags {
}
.portrait-card__department {
}
