.search-bar__container {
  position : relative ; 
  background-color: var(--color-grayscale1);
  min-width: 60rem;
  min-height: 20rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar__input-box {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: 2px solid var(--color-grayscale5);
  background-color: var(--color-grayscale1);
  
}

.search-bar__input-text {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 1rem 0;
  color: var(--color-grayscale5);
  background-color: var(--color-grayscale1);

}

.search-bar__input::placeholder {
  color: var(--color-grayscale5);
  font-family: var(--font-serif-roboto);
}

/* verif ici */ 
.search-bar__input-button {
  background-color: var(--color-grayscale4);
  border: none;
  color: var(--color-grayscale4);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--color-grayscale1); 
}
.search-bar__button:hover {
  background-color: var(--color-grayscale4);
}

.search-bar__categories-box {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.search-bar__categories-icon {
  background-color: var(--color-grayscale3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  fill: var(--color-grayscale5); 
}

.search-bar__categories-text {
  font-size: 16px;
  color: var(--color-grayscale5);
  padding: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-serif-roboto);
}

.search-bar__categories-arrow {
  cursor: pointer;
  fill : var(--color-grayscale5) ; 
}




/* addition for the dropdown menu that is togle inside the SearchBar */


.dropdown-menu__container {
  position: absolute;
  top: 17rem ; 
  left: 20rem; 
  max-height: 20rem;
  background-color: var(--color-grayscale1);
  border: 1px solid var(--color-grayscale5);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 0 4px 8px var(--color-grayscale3) ;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-menu__item {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  font-size: 1.4rem;
  color: var(--color-grayscale5);
  font-family: var(--font-serif-roboto);
  cursor: pointer;
}

.dropdown-menu__checkbox {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--color-grayscale5); 
  cursor: pointer;
}

.dropdown-menu__item:hover {
  color: var(--color-rosybrown2); 
  font-weight: bold;
}